[submodule "yadb-project"]
	path = yadb-project
	url = https://github.com/mateusmedeiros/yadb-project.git
[submodule "yadb-app"]
	path = yadb-app
	url = https://github.com/mateusmedeiros/yadb-app.git
